@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--main-background: #1d1f21;
	--card-background: #282a2e;
	--text-color: #c5c8c6;
	--secondary-text-color: #969896;
	--button-color: #81a2be;
}

/* GLOBAL DEFAULTS */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

/* TYPOGRAPHY */
body {
	font: 300 medium 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	color: var(--text-color);
	line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	font-weight: normal;
	line-height: 1.4;
	margin: 0;
}

.subheader {
	font-weight: 300;
	color: var(--secondary-text-color);
}

strong {
	font-weight: 400;
}

h1 { font-size: 240%; }
h2 { font-size: 200%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

a {
	color: var(--button-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button,
.button {
	border: 1px solid var(--button-color);
	text-decoration: none;
	cursor: pointer;
	outline: 0;
	appearance: none;
	color: var(--button-color);
	border-radius: 4px;
	padding: 5px 20px;
	display: inline-block;
	text-decoration: none;
	transition: all 0.6s;
}

button:hover,
.button:hover,
button:focus-visible,
.button:focus-visible {
	background: var(--button-color);
	color: var(--card-background);
	text-decoration: none;
}

hr {
	border: none;
	border-top: 1px solid #969896;
}

blockquote {
	position: relative;
	margin-left: 0;
	padding-left: 30px;
}

blockquote:before {
	content: '\201C';
	font: 60px 'Georgia', 'Times New Roman', serif;
	position: absolute;
	left: 0;
	top: 0;
	color: rgba(0, 0, 0, 0.1);
}

pre,
code {
	background: rgba(0, 0, 0, 0.1);
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

code {
	padding: 0.1em 0.5em;
	font-size: 0.8em;
	display: inline-block;
	font-family: Consolas, Monaco, 'Andale Mono', monospace;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

pre {
	padding: 10px;
	white-space: pre;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	max-height: 400px;
}

pre code {
	background: none;
	padding: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

/* Site Style */
html,
body {
	background: var(--main-background);
}

body {
	padding: 8px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site {
	margin: 0;
	padding: 45px 20px;
	background: var(--card-background);
	width: 100%;
	max-width: 620px;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

a.email {
	--button-color: #d97575;
}

a.twitter {
	--button-color: #de935f;
}

a.codepen {
	--button-color: #b5bd68;
}

a.github {
	--button-color: #bb9dc3;
}

.header {
	text-align: center;
}

.header:before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #567291 url('/img/avatar.png') no-repeat center;
	background-size: 85%;
	margin: 0 auto;
	border: 6px solid rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 2px #333;
}

.header h1 {
	font-size: 160%;
}

.header .subheader {
	font-size: 120%;
}

.content {
	clear: both;
	margin-top: 10px;
}

.content h4 {
	color: #81a2be;
	font-size: 115%;
}

.content p:first-of-type {
	margin-top: 0;
}

.contact-buttons {
	list-style: none;
	margin: 35px 0 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(var(--contact-buttons-col-count, 1), 1fr);
	gap: 12px;
}

.contact-buttons a {
	display: block;
	text-align: center;
}

@media (min-width: 300px) {
	.contact-buttons {
		--contact-buttons-col-count: 2;
	}
}

@media (min-width: 460px) {
	body {
		padding: 20px 15px;
	}

	.site {
		padding: 65px 30px;
	}

	h1 {
		font-size: 260%;
	}

	h2 {
		font-size: 220%;
	}

	h3 {
		font-size: 180%;
	}

	h4 {
		font-size: 160%;
	}

	h5 {
		font-size: 140%;
	}

	h6 {
		font-size: 120%;
	}

	.header {
		text-align: left;
	}

	.header:before {
		float: left;
		margin: -8px 15px 0 0;
	}

	.header h1 {
		font-size: 230%;
	}

	.header .subheader {
		font-size: 150%;
	}

	.content {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 30px;
	}

	.content h4 {
		font-size: 160%;
	}
}

@media (min-width: 620px) {
	.contact-buttons {
		--contact-buttons-col-count: 4;
	}
}

/* Resume Page */
.site.resume {
	max-width: 960px;
	font-size: 12px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
}

.site.resume .aside {
	width: 200px;
	padding-right: 30px;
	border-right: 1px solid #444;
}

.site.resume .main {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding-left: 30px;
}

.site.resume ul {
	padding-left: 20px;
	margin-bottom: 25px;
}

.site.resume .aside ul,
.site.resume h5 + ul {
	margin-top: 0;
}

.site.resume h1 {
	font-size: 220%;
	color: #81a2be;
}

.site.resume h2 {
	font-size: 145%;
	line-height: 0.8em;
	margin-bottom: 15px;
}

.site.resume h3 {
	color: #81a2be;
	font-size: 160%;
}

.site.resume h4 {
	border-bottom: 1px solid #444;
	margin-bottom: 10px;
	font-size: 120%;
	line-height: 200%;
}

.site.resume h5 {
	font-size: 110%;
}

.site.resume h4 em,
.site.resume h5 em {
	font-size: 80%;
	float: right;
	vertical-align: baseline;
	margin-right: 5px;
}

.site.resume h4:after,
.site.resume h5:after {
	content: '';
	display: block;
	clear: both;
}

.site.resume .main h3 {
	margin-bottom: 15px;
}

.site.resume .main h3:not(:first-of-type) {
	margin-top: 50px;
}

@media screen and (max-width: 600px) {
	.site.resume,
	.site.posts {
		display: block;
	}
	.site.resume .aside,
	.site.posts .aside,
	.site.resume .main,
	.site.posts .main {
		padding: 0;
		width: 100%;
		-webkit-flex: none;
		-moz-flex: none;
		-ms-flex: none;
		flex: none;
		border: 0;
	}
}

@media print {
	canvas {
		display: none;
	}
	body {
		padding: 0;
		background: none;
		color: #333;
	}
	.site {
		background: none;
		box-shadow: none;
		padding: 0;
	}

	.site.resume h4,
	.site.resume .aside {
		border-color: #ddd;
	}
}
