html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #333;
	font-size: 17px;
	padding-top: 54px;
	background: #f1f1f1;
}

a {
	color: #5683a7;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 54px;
}

h1 {
	margin: 0;
	padding: 16px;
	font-size: 17px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	background: white;
}

h2 {
	font-size: 14px;
	margin: 0;
	padding: 5px 16px;
	background: #e3eaf0;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	text-align: center;
}

h3,
h4 {
	margin: 0;
	font-weight: normal;
}

nav {
	border-bottom: 1px solid #ddd;
	padding: 4px;
}

nav a {
	display: inline-block;
	padding: 8px 10px;
	text-decoration: none;
}

nav a.active {
	background: #f9f9f9;
	color: #666;
	font-weight: bold;
	border: 1px solid #ddd;
	border-radius: 6px;
}

.songs-list,
.song,
.videos,
.videos > li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.songs-list {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	padding: 20px 8px;
	max-width: 1516px;
	margin: 0 auto;
}

.song {
	padding: 8px;
	display: flex;
	flex-direction: column;
	width: 100%;
	box-sizing: border-box;
}

.song-card {
	border: 1px solid #ddd;
	border-radius: 8px;
	flex: 1;
	display: flex;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 0px 20px 20px -20px rgba(0, 0, 0, 0.2);
}

.name {
	padding: 16px;
	border-bottom: 1px solid #ddd;
}

.details {
	flex: 1;
	padding: 16px 16px 0;
}

.details > ul:not(:last-child) {
	margin-bottom: 16px;
}

.details h4 {
	margin-bottom: 8px;
}

.notes {
	padding-left: 16px;
}

.notes li {
	font-size: 14px;
	color: #999;
}

.videos .button {
	width: 100%;
}

.new-key {
	text-align: center;
	margin: 0;
	padding: 20px 8px 0;
}

.videos .button.new::before,
.new-key::before {
	content: '';
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: firebrick;
	display: inline-block;
	margin-right: 10px;
	margin-top: -6px;
	vertical-align: middle;
}

.videos > li:not(:last-child) {
	margin-bottom: 10px;
}

.main-action {
	padding: 16px;
}

.main-action .button {
	width: 100%;
}


.button,
button {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 17px;
	display: inline-block;
	color: #333;
	text-decoration: none;
	background: #5683a7;
	color: white;
	padding: 10px 14px;
	border-radius: 4px;
	width: 96px;
	text-align: right;
	border: 1px solid #5683a7;
	outline: 0;
	text-align: center;
}

.button.secondary,
button.secondary {
	background: none;
	color: #5683a7;
}

.cta::after {
	content: '\BB';
	font-size: 20px;
	line-height: 17px;
}

@media (min-width: 530px) {
	.song {
		width: 50%;
	}
}

@media (min-width: 900px) {
	.song {
		width: 300px;
	}
}